name: Aurora start and stop

on:
  workflow_call:
    inputs:
      action:
        required: true
        type: string
      cluster_name:
        required: true
        type: string
      aws_region:
        required: true
        type: string
    secrets:
      role_to_assume:
        required: true

permissions:
  id-token: write
  contents: read

jobs:
  aurora_control:
    runs-on: ubuntu-latest

    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.role_to_assume }}
          aws-region: ${{ inputs.aws_region }}
          
      - name: Start or Stop Cluster
        run: |
          if [ "${{ inputs.action }}" = "start" ]; then
            echo "Starting cluster..."
            aws rds start-db-cluster \
              --db-cluster-identifier ${{ inputs.cluster_name }}
          else
            echo "Stopping cluster..."
            aws rds stop-db-cluster \
              --db-cluster-identifier ${{ inputs.cluster_name }}
          fi

      - name: Check status
        run: |
          aws rds describe-db-clusters \
            --db-cluster-identifier ${{ inputs.cluster_name }} \
            --query 'DBClusters[0].Status'